[submodule "secrux-server"]
	path = secrux-server
	url = https://github.com/vayne-sec/secrux-server.git
[submodule "secrux-web"]
	path = secrux-web
	url = https://github.com/vayne-sec/secrux-web.git
[submodule "secrux-ai"]
	path = secrux-ai
	url = https://github.com/vayne-sec/secrux-ai.git
[submodule "secrux-engine"]
	path = secrux-engine
	url = https://github.com/vayne-sec/secrux-engine.git
[submodule "secrux-executor"]
	path = secrux-executor
	url = https://github.com/vayne-sec/secrux-executor.git
